# IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Cache, logs, reports, etc.
*.log
/storage/*.key
/storage/pail
/tests/clover
/tests/report
*.cache
## Public part (compiled assets, etc.)
/public/assets
/public/build
/public/hot
/public/storage

# Environment
.env
.env.backup
.env.production

# Vendors
/node_modules
/vendor

.DS_Store
.phpactor.json
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
