# IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Cache, logs, reports, etc.
*.log
/storage/*.key
/storage/pail
/tests/report
/.phpunit.cache
.phpunit.result.cache

# Environment
.env
.env.backup
.env.production

# Vendors
/node_modules
/vendor

.DS_Store
.phpactor.json
/auth.json
/public/build
/public/hot
/public/storage
Homestead.json
Homestead.yaml
Thumbs.db
