.git
.idea
.vscode
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/build
public/hot
tests
docker-compose*.yml
README.md
Makefile
