/**
 * Миксины, используемые в нескольких компонентах.
 */

/// Плавный переход для интерактивных элементов
@mixin transition-base($properties: box-shadow, transform) {
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: $properties;
}

/// Скрыть текст, оставив доступным для скринридеров
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
