@use '../../typography' as typography;
@use '../../typography/variables' as typo_variables;

.progress-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.progress-input__head {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.progress-input__controls {
    display: grid;
    grid-template:
    'LABEL CONVERTED'
    'RANGE NUMBER'
    'HINT  HINT';
    align-items: center;
    gap: 0.25rem 1rem;
}

.progress-input__label {
    @include typography.text--120(0.75rem);

    grid-area: LABEL;
    color: var(--gray-700);
}

.progress-input__converted {
    @include typography.text--120(0.75rem, typo_variables.$font-weight--underbold);

    grid-area: CONVERTED;
    color: var(--gray-600);
}

.progress-input__range {
    grid-area: RANGE;
    width: 100%;
}

.progress-input__number {
    @include typography.text--120(0.875rem);

    grid-area: NUMBER;
    width: 100%;
    min-height: 2rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.5rem;
    background: var(--gray-0);
}

.progress-input__hint {
    @include typography.text--120(0.75rem);

    grid-area: HINT;
    margin-top: -0.5rem;
    color: var(--gray-500);
}
