/** Line-heights **/
$line-height--120: 1.2;
$line-height--140: 1.4;
$line-height--150: 1.5;

/** Font-weights **/
$font-weight--extrathin: 100;
$font-weight--thiner: 200;
$font-weight--thin: 300;
$font-weight--normal: 400;
$font-weight--semibold: 500;
$font-weight--underbold: 600;
$font-weight--bold: 700;
$font-weight--bolder: 800;
$font-weight--extrabold: 900;
